@font-face {
  font-family: bo;
  src: url(./font/OpenSans-ExtraBold.ttf);
}
@font-face {
  font-family: bold;
  src: url(./font/MYRIADPRO-REGULAR.OTF);
}
@font-face {
  font-family: b;
  src: url(./font/IBMPlexSerif-Bold.ttf);
}
div.headline {
  text-align: center;
  margin-top: 50px;
  cursor: pointer;
}
div.headline > h1 {
  font-family: bo;
  font-size: 60px;
  font-weight: 900;
}
div.headline > p {
  font-family: bold;
  font-size: 27px;
}
div.headline > div.doc {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-top: 30px;
}
div.doc > p {
  background-color: black;
  color: white;
  width: 150px;
  height: 35px;
  border-radius: 20px;
  line-height: 34px;
  font-family: bold;
  cursor: pointer;
  user-select: none;
}
div.doc > p:hover {
  background-color: rgb(91, 91, 91);
}
